.citizen-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.citizen-card header {
  margin-bottom: 15px;
}


.container {
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  background-color: beige; /* Set background color to beige */
  border: 2px solid black; /* Add a black border */
  padding: 10px; /* Add some padding for better visual appearance */
}

header h1 {
  font-size: 40px;
  margin: 0; /* Remove default margin for better alignment */
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 34px;
}

.label {
  font-weight: bold;
}

.info {
  color: black;
}
