article.text--justified {
  margin: 20px;
}

article.text--justified header {
  background-color: #66c47f;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

article.text--justified table {
  width: 100%;
  border-collapse: collapse;
}

header {
  text-align: center;
}

header h1 {
  font-size: 48px;
}
article.text--justified th {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

article.text--justified td {
  border: 1px solid #ddd;
  padding: 10px;
}

article.text--justified a {
  color: #007bff;
  text-decoration: none;
}

article.text--justified a:hover {
  text-decoration: underline;
}

.add-button {
  background-color: darkgreen;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  padding: 6px 12px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 4px;
  font-weight: bold;
}

.citizen-row {
  text-align: center;
}

.citizen-row td {
  padding: 10px;
}

.citizen-name {
  font-weight: bold;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}

.add-button:hover {
  background-color: chartreuse;
}

.delete-button:hover {
  background-color: indigo;
}

.action-row th {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.action-row th:hover {
  color: #333;
}

thead {
  background-color: #f2f2f2;
}

.action-link {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #007bff; /* Set color to blue */
  font-weight: bold;
}



.action-link:hover {
  background-color: #ddd;
}
