<article class="text--justified">
  <header><h2>Citizens</h2></header>

  <button class="add-button" [routerLink]="['/citizens', 'add']">Add</button>
  <table *ngIf="citizens">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let citizen of citizens.citizens">
      <td>{{citizen.name}}</td>
      <td>
        <a [routerLink]="['/citizens', citizen.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/citizens', citizen.id, 'edit']">Edit</a>
      </td>
      <td>
        <button class="delete-button" (click)="onDelete(citizen)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
</article>
