<article class="text--justified">
  <header><h2>Cities</h2></header>
  <button [routerLink]="['/cities/add']">Add</button>

  <table *ngIf="cities">
    <thead>
    <tr>
      <th>Name</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let city of cities.cities">
      <td>{{city.name}}</td>

      <td>
        <a [routerLink]="['/cities', city.id]">View</a>
      </td>
      <td>
        <a [routerLink]="['/cities', city.id, 'edit']">Edit</a>
      </td>
      <td>
        <button (click)="onDelete(city)">Delete</button>
      </td>

    </tr>
    </tbody>
  </table>
</article>
