body {
  margin: 0;
  padding: 0;
}


footer {
  background-color: #66c47f;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #000;
}

footer p {
  margin: 0;
}

footer a {
  color: #505953;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
